/* Color settings */
$pokemon-navy-blue: #003a70;
$pokemon-blue: #3d7dca;
$pokemon-yellow: #ffcb05;

/* Color shades gray*/
$shades-gray-80: #333333;
$shades-gray-60: #555555;
$shades-gray-40: #777777;
$shades-gray-20: #999999;

/* Color shades red */
$shades-red-80: #ff3232;
$shades-red-60: #ff4c4c;
$shades-red-40: #ff7f7f;
$shades-red-20: #ffb2b2;

/* Error shades */
$error-primary: #ff0000;
$error-secondary: #ff4d4d;
