/* Breakpoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* Variables */
$default-var: 8px;

/* Spacers */
$spacer-xs: 4px;
$spacer-sm: 8px;
$spacer-md: 12px;
$spacer-lg: 17px;
$spacer-xl: 28px;
